@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

@viewport {
	width: device-width;
	zoom: 1;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Noto Sans KR','Noto Sans SC','Noto Sans JP', Sans-serif;
	font-size: 10pt;
	box-sizing: border-box;
	letter-spacing: 0px;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

html {
	height: 100%;
}

body {
	background: #fff;
	height: 100%;
}

img, fieldset {
	border: none;
	vertical-align: middle;
}
input, select, textarea {
	font-weight: normal;
	color: #000;
}
input, textarea, fieldset {
	margin: 0;
	padding-left: 10px;
	border: #CCC solid 1px;
}
textarea {
	padding: 10px;
}
input:focus, select:focus, option:focus, textarea:focus, button:focus{
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
li {
	list-style-type: none;
}
a {
	outline: none;
	select-dummy: expression(this.hideFocus = true);
}
A:link, A:visited, A:hover {
	color:#333;
	text-decoration: none;
}
A:hover {
	text-decoration: underline;
}
.btn {
	cursor: pointer;
	font-weight: 400;
	text-transform: none;
	text-decoration: none;
	border: none;
	display: inline-block;
	line-height: 1;
	text-align: center;
}

.btn-primary {
	position: relative;
	background-color: #b17acc;
	border-radius: 4px;
	color: #fff;
}
.btn-primary:hover {
	background-color: #9b5abb;
}

.f_left {
	float: left;
}
.f_right {
	float: right;
}
.t_left {
	text-align: left;
}
.t_right {
	text-align: right;
}
.t_center {
	text-align: center;
}

.hide {
	display: none !important;
}
.show {
	display: block !important;
}

.mask {
	position: fixed;
	z-index:99;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
	display:none;
}

.close {
	position:absolute;
	z-index:1;
	width:30px;
	height:30px;
	background:url(../dist/ic_close.png) center no-repeat;
	background-size: 20px;
	cursor:pointer;
}
.close:hover {
	transform: rotate( 180deg );
}

.logo {
	font-size: 0;
}

.flex-box-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.notice-main {
	position: relative;
	width: 100%;
	height: 36px;
	line-height: 36px;
    background: #d8dafe;
	text-align: center;
}
	.notice-main p {
		display: inline-block;
	}
	.notice-main img {
		height: 24px;
		margin: 0 10px
	}

header {
	position: relative;
	width: 100%;
	height: 64px;
	padding: 0 20px;
}
	.header-logo {
		position: relative;
		width: 150px;
		height: 100%;
		background: url(../dist/logo.png) left center no-repeat;
		background-size: contain;
		cursor: pointer;
		float: left;
	}

.navi-open {
	position: absolute;
	z-index: 2;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	background: url(../dist/ic_menu.png) center no-repeat;
	background-size: 30px;
	display: none;
}

.hader-container .close {
	display: none;
}

.navi-wrap {
	position: relative;
	width: auto;
	height: 100%;
	display: inline-block;
}
	.navi-item {
		height: 100%;
		line-height: 64px;
		padding: 0 20px;
		margin: 0 10px;
		cursor: pointer;
		display: inline-block;
	}
	.navi-item:hover {
		color: #826711;

	}
		.navi-item-hot {
			position: relative;
			margin-left: 8px;
			padding: 0 5px;
			font-size: .8rem;
			line-height: 15px;
			background-color: #b17acc;
			color: #fff;
			border-radius: 4px;
			display: inline-block;
		}
		.navi-item-hot:before {
			position: absolute;
			width: 0;
			height: 0;
			left: -3px;
			top: 2px;
			border-left: 0;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-right: 6px solid;
			border-right-color: #b17acc;
			content: "";
		}

.header-in-member {
	position: relative;
	width: auto;
	padding: 16px 0;
	float: right;
}
	.header-in-member-before {
		height: 100%;
		float: left;
	}
		.header-in-member-before div.btn {
			width: 80px;
			height: 32px;
			line-height: 32px;
			margin: 0 5px;
		}
	.header-in-member div.language {
		margin: 0 20px;
		line-height: 32px;
		float: right;
	}
	.header-in-member-after {
		height: 100%;
		float: left;
	}

.header-in-icon {
	position: relative;
    height: 32px;
    padding-left: 26px;
    margin: 0 10px;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;

}
/*
.header-in-icon:hover .header-in-pop {
	display: block;
}*/

.header-in-icon.header-in-reminder {
	background: url(../dist/ic_bell.png) left center no-repeat;
	background-size: 26px;
}
	.header-in-icon.header-in-reminder .header-in-reminder-item {
		position: absolute;
		z-index: 1;
		top: -3px;
		left: 15px;
		width: 20px;
		height: 20px;
		line-height: 16px;
		border: 2px #fff solid;
		border-radius: 50%;
		background: #f6465d;
		text-align: center;
		font-size: .7rem;
		color: #fff;
	}
.header-in-icon.header-in-user {
	background: url(../dist/ic_man.png) left center no-repeat;
	background-size: 26px;
}
.header-in-icon.header-in-wallet {
    line-height: 34px;
	margin-right: 30px;
	padding-left: 32px;
	background: url(../dist/ic_wallet.png) left center no-repeat;
	background-size: 26px;
}

.header-in-pop {
    position: absolute;
    z-index: 5;
    right: -10px;
    top: 20px;
    width: auto;
    min-width: 200px;
    height: auto;
    padding: 20px;
    background: #fcfcfc;
    border: 1px #f5f5f5 solid;
    border-radius: 5px;
	box-shadow: 0px 0px 10px #00000052;
	display: none;
}
.header-in-pop .close {
    right: 20px;
    top: 20px;
	display: none;
}

 .header-in-pop-title {
 	padding: 15px 12px;
    background: #ebebeb;
    border-radius: 3px;
	white-space:nowrap;
 }
	 .header-in-pop-title strong {
		font-size: 1.2rem;
	 }
	 .header-in-pop-title span {
		margin-left: 20px;
		padding-left: 17px;
		font-size: .9rem;
		color: #b17acc;
		background: url(../dist/ic_delete.png) left center no-repeat;
		background-size: 14px;
		display: inline-block;
		filter: brightness(0.5);
		opacity: .5;
	 }
	 .header-in-pop-title span:hover {
		filter: brightness(1);
		opacity: 1;
	 }
.header-in-pop-content {
	width: 100%;
	margin-top: 20px;
}
	.header-in-pop-content-item {
		width: 100%;
		margin: 20px 0;
		padding: 0px 12px;
	}
	.header-in-pop-content-btn {
		width: 100%;
		text-align: center;
	}
		.header-in-pop-content-btn .btn {
			padding: 10px 20px;
			display: block;
		}
	.header-in-pop-content-item:hover p {
		text-decoration: underline;
	}
	.header-in-pop-content-item.reminder {
		padding-left: 22px;
		background: url(../dist/ic_mail.png) left 5px no-repeat;
		background-size: 14px;
	}
		.header-in-pop-content-item span, .header-in-pop-content-item i {
			color: #666;
			display: block;
		}
		.header-in-pop-content-item i {
			font-size: .9rem;
			color: #999;
		}
.wallet-box-selector {
	position: relative;
	width: 100%;
}
	.wallet-box-selector input+label {
		width: 100%;
		padding: 5px 30px;
		margin: 10px 0;
		text-align: center;
		color: #666;
	}
	.wallet-box-selector input:checked+label {
		padding: 10px 30px 10px 40px;
		font-size: 1.1rem;
	}
		.wallet-box-selector input:checked+label:after {
			position: absolute;
			top: 15px;
			left: 18px;
			width: 20px;
			height: 20px;
			background: url(../dist/ic_check_red.png) left 5px no-repeat;
			background-size: 18px;
			color: #f6465d;
			content: "";
		}

section.wrap {
	position: relative;
	width: 100%;
}
section.wrap:before, section.wrap:after {
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	max-height: 800px;
	content: "";
}
section.wrap:before {
	left: 0;
}
section.wrap:after {
	right: 0;
}


div.container {
	position: relative;
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 50px;
}

section.element-main-top:before {
	background: url(../dist/title_left_dec.jpg) left center no-repeat;
}
section.element-main-top:after {
	background: url(../dist/title_right_dec.jpg) right top no-repeat;
}
.container-main-top {
	padding: 150px 0px;
}
.container-main-top h2 {
	position: relative;
    z-index: 1;
	width: 500px;
	line-height: 1.3;
	font-size: 4rem;
	font-weight: 900;
}
.container-main-top img.top-img {
    position: absolute;
	z-index: 0;
    top: 50%;
    right: 0px;
    transform: translate(0px, -50%);
    height: 70%;
}
.join-present {
    position: relative;
    z-index: 1;
	margin-top: 30px;
}
.join-present p {
	margin: 20px 0;
	line-height: 24px;
	font-size: 1.2rem;
	color: #666;
}
.join-present .btn {
	width: 20%;
    height: 40px;
    line-height: 40px;
}
img.present-img {
    height: 20px;
    margin-right: 7px;
    vertical-align: bottom;
}

section.element-main-score {
	background: url(../dist/quote_bg.jpg) top center no-repeat;
	background-size: cover;
	text-align: center;
}
.container-main-score {
	padding: 50px 0;
	display: flex;
    justify-content: space-between;
}
.container-main-score-item {
	position: relative;
	width: 220px;
	color: #fff;
}
.container-main-score-item-score {
	font-size: 2.5rem;
	font-weight: 700;
}
.container-main-score-item-info {
	margin-top: 5px;
	color: rgba(255,255,255,.6);
}

.container-title {
	position: relative;
	width: 100%;
	margin-bottom: 50px;
}
	.container-title h2 {
		font-size: 3rem;
		font-weight: 600;
	}
	.container-title p {
		font-size: 1.4rem;
		color: #666;
	}

section.element-main-portfolio:before {
	background: url(../dist/btm_left_dec.jpg) left center no-repeat;
}
section.element-main-portfolio:after {
	background: url(../dist/mid_right_dec.jpg) right top no-repeat;
}
.container-main-portfolio {
	padding: 100px 0;
	width: 50%;
}
img.portfolio-img1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0px, -50%);
    width: 500px;
}
img.portfolio-img2 {
    position: absolute;
    top: 55%;
    left: 76%;
    transform: translate(0px, -50%);
    width: 140px;
}
img.portfolio-img3 {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 50%;
}

.portfolio-item {
	position: relative;
	width: 80%;
	padding: 0 0 50px 120px;
}
.portfolio-item.account {
	background: url(../dist/img_account.png) left top no-repeat;
	background-size: 100px;
}
.portfolio-item.identity {
	background: url(../dist/img_identity.png) left top no-repeat;
	background-size: 100px;
}
.portfolio-item.trading {
	background: url(../dist/img_trading.png) left top no-repeat;
	background-size: 100px;
}
.portfolio-item.safu {
	background: url(../dist/img_safu.png) left top no-repeat;
	background-size: 100px;
}
.portfolio-item.control {
	background: url(../dist/img_control.png) left top no-repeat;
	background-size: 100px;
}
.portfolio-item.encryption {
	background: url(../dist/img_encryption.png) left top no-repeat;
	background-size: 100px;
}

	.portfolio-item p {
		font-size: 2rem;
		font-weight: 400;
		margin-bottom: 10px;
	}
	.portfolio-item span {
		font-size: 1rem;
		color: #666;
	}
.start-portfolio {
	margin-top: 30px;
	text-align: center;
}
	.start-portfolio .btn {
		width: 40%;
		height: 40px;
		line-height: 40px;
	}

section.element-main-explore:after {
	background: url(../dist/btm_right_dec.jpg) right top no-repeat;
}
.container-main-explore {
	padding: 150px 0;
}

.box-wrap {
	position: relative;
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
	.box-wrap .box-item {
		position: relative;
		width: 30%;
		height: 500px;
		padding: 50px 30px;
		background: #f2f2f2;
		border-radius: 20px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
		.box-wrap .box-item img {
			width: 50%;
			margin: 10px 0;
		}
		.box-wrap .box-item .box-info {
			text-align: left;
		}
			.box-wrap .box-item .box-info p {
				font-size: 2rem;
				font-weight: 400;
				margin-bottom: 10px;
			}
			.box-wrap .box-item .box-info span {
				font-size: 1.2rem;
			}


section.element-main-app:before {
	background: url(../dist/btm_left_dec.jpg) left center no-repeat;
}
section.element-main-app:after {
	background: url(../dist/mid_right_dec.jpg) right top no-repeat;
}
.container-main-app {
	padding: 100px 0;
	width: 50%;
	margin: 0 0 0 auto;
}
img.app-img1 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0px, -50%);
    width: 400px;
}
img.app-img2 {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(0px, -50%);
    width: 200px;
}

.qr {
	width: 100%;
	padding: 20px;
	background: #f2f2f2;
	border-radius: 10px;
	overflow: hidden;
}
	.qr img {
		height: 100px;
		float: left;
	}
	.qr .qr-txt {
		margin: 20px 0 0 10px;
		height: 100%;
		float: left;
	}
		.qr .qr-txt p {
			font-size: 1.1rem;
		}
		.qr .qr-txt span {
			font-size: 1.8rem;
		}
.app {
	position: relative;
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
	.app-item {
		position: relative;
		width: 120px;
		padding: 20px;
		background: #f2f2f2;
		border-radius: 10px;
		text-align: center;
	}
		.app-item img {
			height: 50px;
		}
		.app-item p {
			margin-top: 10px;
		}

.container-main-start {
	padding: 50px 0;
	text-align: center;
	color: #fff;
}
	.container-main-start .container-main-start-title {
		font-size: 2.5rem;
	}
	.container-main-start .start-start {
		margin-top: 30px;
	}
		.container-main-start .start-start .btn {
			padding: 20px 50px;
			background: #fff;
			color: #000;
			font-size: 1.2rem;
		}

section.login-wrap:before {
	background: url(../dist/color_left_dec.png) left top no-repeat;
	background-size: contain;
}
.container-login {
	padding: 100px 0;
	width: 400px;
	margin: 0 auto;
}
.container-login-box {
	position: relative;
	width: 100%;
	height: auto;
}
.login-wrap img.login-img {
    position: absolute;
	z-index: 0;
    top: 50%;
    right: 0px;
    transform: translate(0px, -50%);
    height: 50%;
}

.form-wrap {
	position: relative;
	height: 106px;
	padding: 30px 0;
}
.trade-pop-wrap .form-wrap {
	height: 46px;
	padding: 0;
	margin-bottom: 10px;
}
.form-full {
	width: 100%;
}

	.form-wrap input, .form-wrap-txt {
		width: 100%;
		height: 100%;
		border: 1px #ccc solid;
		border-radius:3px;
	}
	.form-wrap-txt {
		line-height: 46px;
		background: #fff;
		text-align: center;
	}
	.trade-pop-wrap .form-wrap .form-wrap-txt {
		background: #d8dafe;
		border: 1px #d8dafe solid;
		color: #000;
		font-weight: 600;
		font-size: 1.1rem;
	}
	.trade-pop-wrap .form-wrap input {
		width: 100%;
		height: 100%;
		border: 1px #b17acc solid;
		border-radius:3px;
		font-size: 1.1rem;
		color: #000;
	}
	.form-wrap label.input-label {
		position: absolute;
		top: 5px;
		left: 0;
		width: 100%;
		line-height: 1.8;
	}
	.form-message {
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		line-height: 1.8;
		color: #f6465d;		
	}
	.form-wrap label.input-label-error {
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		line-height: 1.8;
		color: #f6465d;
		display: none;
	}
		.form-wrap label.input-label-error:after {
			position: absolute;
			top: -47px;
			left: 0;
			width: calc(100% - 2px);
			height: 44px;
			border: 1px #f6465d solid;
			border-radius: 3px;
			content: "";
		}

.form-wrap select {
    position: relative;
    z-index: 2;
	width: 100%;
	height: 100%;
	padding: 0 60px 0 20px;
	-webkit-appearance: none;  /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	border: 1px #b17acc solid;
	border-radius: 3px;
	background: url(../dist/ic_select.png) #fff  right center no-repeat;
	background-size: contain;
	cursor: pointer;
	font-size: 1.1rem;
}
.form-wrap select:hover {
	border: 1px #639bf7 solid;
	background: url(../dist/ic_select.png) #f2f2f2  right center no-repeat;
	background-size: contain;
}


.start-login {
	position: relative;
}
	.start-login .btn {
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
.start-login-join {
	position: relative;
}
	.start-login-join .btn {
		width: calc(50% - 2px);
		height: 50px;
		margin-right: 4px;
		line-height: 50px;
		background: #eaecef;
		border-radius: 3px;
		float: left;
	}
	.start-login-join .btn:last-child {
		margin-right: 0;
	}
	.start-login-join .btn:hover {
		background: #d8dafe;
	}

.login-box-selector {
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}


.box-selector {
	position: relative;
	width: 100%;
}
	.box-selector input+label {
		position: relative;
		height: 100%;
		padding: 0 30px;
		border: 1px #e5e5e5 solid;
		border-radius: 3px;
		background: #fff;
		color: #333;
		text-align: center;
		display: inline-block;
		cursor: pointer;
	}
	.box-selector input+label:hover {
		border: 1px #d8dafe solid;
		font-weight: 500;
	}
	.box-selector input:checked+label  {
		background: #d8dafe;
		border: 1px #d8dafe solid;
		color: #000;
		font-weight: 600;
	}
		.box-selector input {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			opacity: 0;
		}
.box-hr {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 1px;
	margin: 30px 0;
	border: 1px #e5e5e5 solid;
}
	.box-hr .box-hr-txt {
		position: absolute;
		top: -15px;
		left: 50%;
		transform: translate(-50%, 0);
		padding: 0 20px;
		line-height: 30px;
		background: #fff;
		color: #666;
		font-size: .9rem;
	}

section.join-wrap:before {
	background: url(../dist/title_left_dec.jpg) left center no-repeat;
}
section.join-wrap:after {
	background: url(../dist/title_right_dec.jpg) right top no-repeat;
}
.container-join {
	padding: 50px 0 100px;
	width: 400px;
	margin: 0 auto;
}
.container-join .container-title {
    margin-bottom: 20px;
}
	.container-join .container-title h2 {
		    font-size: 2rem;
			text-align: center;
	}
.container-join .form-wrap {
	height: 76px;
	padding: 0 0 30px 0;
}
.container-join .box-hr {
    margin: 10px 0;
}
.container-join .box-hr .box-hr-txt {
	font-size: 1rem;
	color: #000;
}
.container-join .start-login {
    margin: 30px 0 0 0;
}

.join-terms {
	width: 100%;
    padding: 20px;
	margin-top: 20px;
    height: auto;
    border: 1px #e5e5e5 solid;
    border-radius: 5px;
    background-color: #fff;
}
	.join-terms input {
		width: 20px;
		height: 20px;
		margin: 5px 5px 0 0;
		float: right;
	}
	.join-terms .title {
		padding: 15px 0;
		margin-bottom: 10px;
		font-size: 1.2rem;
		font-weight: 500;
		border-bottom: 1px #e5e5e5 solid;
		cursor: pointer;
	}
	.join-terms .agree {
		padding: 5px 0;
		font-size: 1.1rem;
		font-weight: 500;
		cursor: pointer;
	}
	.join-terms .title:hover, .join-terms .agree:hover {
		text-decoration: underline;
	}
.join-terms-wrap {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    width: 500px;
    max-width: 100%;
    padding: 20px;
    background: #fff;
    transform: translate(-50%, -50%);
    border: 1px #ccc solid;
    border-radius: 5px;
	display: none;
}
.join-terms-wrap .close {
    top: 0px;
    right: 20px;
}
.join-terms-wrap h2 {
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    border-bottom: 1px #ccc solid;
}
.join-terms-wrap div {
	line-height: 1.5;
	max-height: 500px;
    margin-top: 20px;
    overflow-y: auto;
}

section.trade-wrap:before {
	background: url(../dist/title_left_dec.jpg) left center no-repeat;
}
section.trade-wrap:after {
	background: url(../dist/title_right_dec.jpg) right top no-repeat;
}
.container-trade {
	padding: 50px 0 100px;
	margin: 0 auto;
}

.sub-title {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 112px;
	margin: 0;
	text-align: center;
	color: #fff;
}
	.sub-title h2 {
		padding: 10px 0;
		font-size: 2rem;
		text-shadow: 0 0 5px #00000096;
	}
.trade-title {
	background: url(../dist/bg_trade.jpg) center no-repeat;
	background-size: cover;
}

.sub-snb-wrap {
	position: relative;
	z-index: 1;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 10px 0; 
	background: #fff;
	box-shadow: 0 0 5px #00000069;
}
.sub-snb-container {
	max-width: 1400px;
	height: auto;
	margin: 0 auto;
}

.sub-snb-menu {
	position: relative;
	padding:2px;
	border: 1px #d9d9d9 solid;
	border-radius: 5px;
	background: #fafafa;
	display: inline-block;
}
	.sub-snb-menu .sub-snb-menu-item {
		position: relative;
		height: 36px;
		line-height: 36px;
		padding: 0 50px;
		border-radius: 5px;
		display: inline-block;
		cursor: pointer;
	}
	.sub-snb-menu .sub-snb-menu-item.active {
		font-weight: 500;
		background: #f6465d;
		color: #fff;
		box-shadow: 1px 0px 4px #00000040;
	}


.sub-snb-btn {
	position: relative;
	height: 100%;
	float: right;
}

.list-select {
    height: 14px;
    line-height: 14px;
    margin: 15px 10px;
    float: left;
}
	.list-select li {
		height: 100%;
		padding: 0 20px;
		opacity: .5;
		cursor: pointer;
		border-right: 1px #ccc solid;
		display: inline-block;
	}
	.list-select li:last-child {
		border-right: 0px #ccc solid;
	}
	.list-select li:hover {
		opacity: 1;
	}
	.list-select li.active {
		font-weight: 600;
		opacity: 1;
	}
.sub-snb-coin-wrap {
	position: relative;
	width: 100%;
	height: auto;
	border-bottom: 1px #d9d9d9 solid;
}
	.sub-snb-coin-container {
		position: relative;
		max-width: 1400px;
		height: 50px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
		.sub-snb-coin-item {
			height: 100%;
			padding: 0 20px;
			margin: 0 10px;
			flex: none;
			display: inline-flex;
			align-items: center;
			cursor: pointer;
			opacity: .5;
		}
		.sub-snb-coin-item:hover {
			border-bottom: 1px #b17acc solid;
			opacity: 1;
		}
		.sub-snb-coin-item.active {
			font-weight: 600;
			border-bottom: 2px #b17acc solid;
			opacity: 1;
		}


.refresh-btn {
	height: 30px;
    line-height: 30px;
    margin: 6px 0;
	padding: 0 20px 0 40px;
	background: url(../dist/ic_refresh.png) #fafafa 20px center no-repeat;
	background-size: 14px;
	border: 1px #d9d9d9 solid;
	border-radius: 5px;
	color: #b17acc;
	float: right;
}
.refresh-btn:hover {
	background: url(../dist/ic_refresh.png) #d9d9d9 20px center no-repeat;
	background-size: 14px;
}

.trade-btn-wrap {
	position: relative;
	z-index: 2;
	margin: -20px 0 20px 0;
	/* text-align: right; */
	text-align:center;
}
	.trade-btn-wrap .btn {
		padding: 15px 50px;
		border: 1px #fff solid;
		background: #fff;
		border-radius: 5px;
	}
	.trade-btn-wrap .btn:hover {
		border: 1px #d9d9d9 solid;
		background: #fafafa;
	}

.list-wrap {
	position: relative;
	width: 100%;
	height: auto;
}

.trade-list-wrap {
	position: relative;
	width: 100%;
}
	.trade-list-head, .trade-list-tr {
		border-bottom: 1px #d9d9d9 solid;
		display: flex;
		justify-content: space-around;
	}
		.trade-list-th, .trade-list-td {
			width: 17.5%;
			display: inline-flex;
			align-items: center;
			justify-content: space-around;
		}
		.trade-list-th {
			height: 30px;
			font-weight: 400;
			font-size: .9rem;
			color: #666;
		}
		.trade-list-td {
			height: 60px;
		}
		.trade-list-td.price-one, .trade-list-td.price-total {
			font-size: 1.5rem;
			font-weight: 500;
		}
		.trade-list-td.price-one {
			color: #b17acc;
		}
		.trade-list-td.price-total {
			color: #f6465d;
		}
		.trade-list-td.other-num {
			color: #666;
			/*font-size: .8rem;*/
		}


.status-btn {
	position: relative;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 5px 0;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.status-btn:hover {
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.status-btn.status-wait {
	background: #f6465d;
}
.status-btn.status-ing {
	background: #b17acc;
}
.status-btn.status-end {
	background: #999;
}


	.list-wrap table {
		position: relative;
		width: 100%;
	}
		.list-wrap table caption {
			display: none;
		}
		.list-wrap table tr {
			border-bottom: 1px #d9d9d9 solid;
		}
			.list-wrap table th {
				height: 30px;
				font-weight: 400;
				font-size: .9rem;
				color: #666;
			}
			.list-wrap table td {
				height: 60px;
				text-align: center;
			}
			.list-wrap table td.price-one, .list-wrap table td.price-total {
				font-size: 1.5rem;
				font-weight: 500;
			}
			.list-wrap table td.price-one {
				color: #b17acc;
			}
			.list-wrap table td.price-total {
				color: #f6465d;
			}
			.list-wrap table td.other-num {
				color: #666;
				font-size: .8rem;
			}

.paging-wrap {
	position: relative;
	width: 100%;
	height: auto;
}
	.paging {
		padding: 20px 0;
		text-align: center;
		vertical-align: middle;
	}
		.paging li {
			width: 30px;
			height: 30px;
			line-height: 30px;
			border: 1px #ccc solid;
			border-radius: 3px;
			display: inline-block;
			font-size: .9rem;
			cursor: pointer;
		}
		.paging li:hover {
			background: linear-gradient(180deg, #dfdfdf, transparent);
		}
		.paging li.active {
			border: 1px #999 solid;
			background: linear-gradient(0deg, #dfdfdf, transparent);
			font-size: 1rem;
			font-weight: 500;
		}

.trade-pop-wrap {
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: auto;
	padding: 20px;
	border-radius: 5px;
	background: url(../dist/color_left_dec.png) #fff left top no-repeat;
	background-size: contain;
}
	.trade-pop-wrap .title {
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
		.trade-pop-wrap .title h2 {
			font-size: 2rem;
			font-weight: 600;
		}
		.trade-pop-wrap .title p {
			color: #666;
		}
.trade-pop-form-info {
	position: relative;
	width: 100%;
	margin: 20px 0;
	border: 1px #ccc solid;
	border-radius: 5px;
	background: #fff;
}
.trade-pop-form-info-item {
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	border-bottom: 1px #ccc solid;
}
.trade-pop-form-info-item:last-child {
	border: none;
}
	.trade-pop-form-info-item dt, .trade-pop-form-info-item dd {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 0 20px;
		color: #333;
		float: left;
	}
	.trade-pop-form-info-item dt {
		width: 30%;
		border-right: 1px #ccc solid;
	}
	.trade-pop-form-info-item dd.price-one, .trade-pop-form-info-item dd.price-total {
		font-size: 1.2rem;
		font-weight: 500;
	}
	.trade-pop-form-info-item dd.price-one {
		color: #b17acc;
	}
	.trade-pop-form-info-item dd.price-total {
		color: #f6465d;
	}
	.trade-pop-form-info-item dd span {
		color: #b17acc;
		font-size: .9rem;
	}

.trade-pop-form-btn {
    width: 100%;
    margin: -5px 0 0;
}
	.trade-pop-form-btn .btn {
	    width: 100%;
		line-height: 30px;
	}

.trade-pop-form-alt {
	text-align: center;
    line-height: 1.6;
    margin: 10px 0 20px;
}

.trade-pop-wrap .join-terms {
    margin: 20px 0;
	padding: 10px;
    border: 1px #ccc solid;
}
.trade-pop-wrap .join-terms .title {
	margin-bottom: 10px;
	padding: 0 0 10px 0;
	text-align: left;
	font-size: 1.1rem;
}
.trade-pop-wrap .join-terms .agree {
    padding: 3px 0;
    font-size: 1rem;
}
.trade-pop-wrap .join-terms input {
    width: 18px;
    height: 18px;
    margin: 0px 5px 0 0;
}


footer {
	/* padding: 100px 0 20px 0; */
	padding: 1rem 0;
	text-align: center;
	background-color: #1a1a1a;
}
	footer nav.navi-wrap {
		height: 80px;
		border-bottom: 1px #333 solid;
		color: #fff;
	}

.footer-sns {
	width: 50%;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
}
	.footer-sns li {
		width: 30px;
		height: 30px;
		margin: 0 10px;
		display: inline-block;
		opacity: .2;
		cursor: pointer;
	}
	.footer-sns li:hover {
		opacity: .5;
	}
	.footer-sns li.face {
		background: url(../dist/btn_face.png) center no-repeat;
		background-size: contain;
	}
	.footer-sns li.in {
		background: url(../dist/btn_in.png) center no-repeat;
		background-size: contain;
	}
	.footer-sns li.twit {
		background: url(../dist/btn_twit.png) center no-repeat;
		background-size: contain;
	}
	.footer-sns li.you {
		background: url(../dist/btn_you.png) center no-repeat;
		background-size: contain;
	}
.footer-info {
	width: 50%;
	line-height: 1.8;
	padding: 20px;
	margin: 0 auto;
	border: 1px #333 solid;
	text-align: center;
	color: #666;
}

.footer-copy {
	width: 100%;
	margin: 30px auto 0;
	color: #666;
}

.banner-app-down-wrap {
	display: none;
}

/*----------Dropdown-------------*/
.dropbtn {
  border: none;
  cursor: pointer;
  background: #0000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 100;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {background-color: #f1f1f1; cursor: pointer;}

.dropdown:hover .dropdown-content {
  display: block;
}

