#menu_checkbox {
  display: none;
}

label[for="menu_checkbox"] {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  scale: 0.3;
}

label[for="menu_checkbox"]:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
}

label[for="menu_checkbox"] div {
  position: relative;
  top: 0;
  height: 12px;
  background-color: #000;
  margin-bottom: 12px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
  border-radius: 2px;
}

label[for="menu_checkbox"] div:first-child {
  transform-origin: 0;
}

label[for="menu_checkbox"] div:last-child {
  margin-bottom: 0;
  transform-origin: 60px;
}

label[for="menu_checkbox"] div:nth-child(2) {
  right: 0;
  width: 60px;
}

#menu_checkbox:checked + label[for="menu_checkbox"] div:first-child {
  top: -6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label[for="menu_checkbox"] div:last-child {
  top: 6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label[for="menu_checkbox"] div:nth-child(2) {
  width: 85px;
  top: 0;
  right: 13px;
  transform: rotateZ(-45deg);
}
