.form-group{
    /*height: 55px;*/
}

.form-group > .form-control{
    margin-bottom : 5px;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    /*font-size: 0.8rem;*/
    font-size: 1rem
    padding: 4px 0 0;
    float: right;
}
.float-none-message {
    float:none !important;
    font-size: 1.5rem !important;
}
.form-message-admin {
    padding-left: 10px !important;
    font-size: 0.9rem !important;
    float:none !important;
}



